<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/assets/css/index.css">
</head>

<body>
    <%- include('partials/navbar')%>
    <h1>INDEX SAYFASI</h1>
    <% myArray.forEach((data,index)=> { %>

        <%= index %>
            <%= data.name %>
                <% }) %>

                    <% let name='alper' %>


                        <% if(isActive) { %>
                            <p>
                                <%=name %>
                            </p>

                            <h1>
                                Sayı: <%= number %>
                            </h1>
                            <br>
                            <% for(let i=0; i<20; i++) {%>
                                <%= i %>
                                    <%}%>
                                        <%}%>

</body>

</html>